@model IEnumerable<StorePanel.Core.Models.Brand>

@if (Model.Any())
{

<div class="brands-border owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                    "nav": false,
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "rtl": true,
                            "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
    @foreach (var item in Model)
    {
        <a href="#" class="brand">
            <img src="~/assets/images/brands/1.png" alt="@item.Name">
        </a>
    }
</div><!-- End .owl-carousel -->
}