@if (ViewBag.result)
{
    <p style="text-align:center;padding:100px;font-size:50px;color:green;">سفارش شما با موفقیت ثبت شد</p>
}
else
{
    <p style="text-align:center;padding:100px;font-size:50px;color:red;">خطا در فرآیند تراکنش</p>
}