@model IEnumerable<StorePanel.Core.Models.ArticleCategory>


@if (Model.Any())
{
    <div class="widget widget-cats">
        <h3 class="widget-title">دسته بندی ها</h3><!-- End .widget-title -->

        <ul>
            @foreach (var item in Model)
            {
                <li><a href="/blog/index?BlogGroupId=@item.Id">@item.Title<span>@item.Articles.Count</span></a></li>
            }
        </ul>
    </div><!-- End .widget -->
}