@model StorePanel.Web.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "رمز عبور خود را فراموش کرده اید؟";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}
<p>رمز عبور خود را فراموش کرده اید؟</p>

<form method="post" id="form" class="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-4">
        <input asp-for="Email" class="form-control form-control-lg" placeholder="ایمیل" , autocomplete="off" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <input type="submit" value="ارسال" class="btn btn-primary btn-lg btn-block btn-uppercase mb-4" />
    <p class="text-right">
        <a asp-action="Login" class="text-underline">بازگشت</a>
    </p>
</form>