@model IEnumerable<StorePanel.Core.Models.Brand>

@if (Model.Any())
{

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="brands-text text-center mx-auto mb-6">
                    <!-- End .title -->
                </div><!-- End .brands-text -->
                <div class="brands-display">
                    <div class="row justify-content-center">
                        @foreach (var item in Model)
                        {
                            <div class="col-6 col-sm-4 col-md-3">
                                <a href="#" class="brand">
                                    <img src="~/assets/images/brands/1.png" alt="@item.Name">
                                </a>
                            </div><!-- End .col-md-3 -->
                        }
                    </div><!-- End .row -->
                </div><!-- End .brands-display -->
            </div><!-- End .col-lg-10 offset-lg-1 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
}